<main>
  <div class="text-center pt-5">
    <h2>本当に退会しますか？</h2>
    <p>退会すると、会員登録情報や</br>
       これまでの購⼊履歴が閲覧できなくなります。</br>
       退会する場合は、「退会する」をクリックしてください。
    </p>
    <%= link_to "退会しない", customer_customer_path(current_customer),class: "btn btn-primary mr-5 px-5" %>
    <%= link_to "退会する", withdrawal_path, method: :patch, class: "btn btn-danger px-5"%>
  </div>
</main>