<main>
  <div class="container">
    <div class="row">
      <div class="mt-5 p-5">
        <h5 class="mb-4">注文履歴一覧</h5>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">注文日</th>
              <th scope="col">配送先</th>
              <th scope="col">注文商品</th>
              <th scope="col">支払金額</th>
              <th scope="col">ステータス</th>
              <th scope="col">注文詳細</th>
            </tr>
          </thead>
           <%#each文%>
          <tbody>
            <tr>
              <td>項目１</td>
              <td>項目２</td>
              <td>項目３</td>
              <td>項目4</td>
              <td>項目５</td>
              <td>項目6</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</main>