<main>
  <div class="container">
    <div class="row">
      <div class="col-3">

      </div>
      <div class="col-6">
        <h3 class="mt-5 pt-5">ご注文ありがとうございました！</h3>
      </div>
      <div class="col-3">

      </div>
    </div>
  </div>
</main>