<div class="container">
  <div class="admin-customer pt-5">
    <h4 class="pb-3">会員一覧</h4>
    <table class="table">
      <tr class="table-active">
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.full_name, admin_customer_path(customer), class: "text-dark" %></td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted == true %>
              <p class="text-secondary">退会済</p>
            <% else %>
              <p class="text-success">有能</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

  </div>
</div>
